.PokemonCards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    padding: 20px;
}

.PokeCard {
    width: 340px;
    height: 635px;
    margin: 15px;
}